<div class="wrapper" *ngIf="topic">
  <nav id="sidebar">
    <div class="sidebar-header">
        <h3>{{topic.title}}</h3>
    </div>
    <ul class="list-unstyled components">
      <li *ngFor="let note of selectedTopicNotes" >
        <a (click)="selectTopNote(note)">
          <h3 >{{note.title}}
            <button *ngIf="!note.children || note.children.length == 0"
            type="button" class="close" aria-label="Close" (click)="deleteNote(note)">
              <span aria-hidden="true">&times;</span>
            </button>
          </h3>
          <p>
            {{note.text}}
          </p>
        </a>
        <ul [ngClass]="{'list-unstyled collapse': topNote != note }" class="list-unstyled" id="homeSubmenu">
            <li *ngFor="let tag of collectTags(note)">
              <a (click)="selectTag(tag)">{{tag}}</a>
            </li>
        </ul>
      </li>
      <li id="new-note">
        <label>New Note:<br>
              <input #noteTitle placeholder="Note Title"/><br>
              <input #noteText placeholder="Note Text"/><br>
              <button class="btn btn-light"
          (click)="saveTopNote(noteTitle.value, noteText.value); noteText.value=''; noteTitle.value=''">save</button>
        </label>
      </li>
     </ul>
  </nav>
  <div id="content">
    <app-note-detail (clearTagCacheEvent)="reloadCache($event)" [note]="topNote" [tag]="selectedTag"></app-note-detail>
  </div>
</div>
