<div *ngIf="note && note.children && note.children.length > 0" class="subnotes list-group list-group-flush">
  <a *ngFor="let noteChild of note.children" class="list-group-item list-group-item-action" (click)="selectNote(noteChild)">
    <div class="card">
      <div class="card-body">
        <button *ngIf="!noteChild.children || noteChild.children.length == 0"
        type="button" class="close" aria-label="Close" (click)="deleteNote(noteChild, note)">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="text-center card-title">{{noteChild.title}}</h3>
        <div *ngIf="containsYoutube(noteChild.text)">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" [src]="vidUrl(noteChild.text)" allowfullscreen></iframe>
          </div>
        </div>
        <div *ngIf="containsTwitter(noteChild.text)">
          <app-tweet [tweet]="noteChild.text"></app-tweet>
        </div>
        <p class="card-text" *ngIf="!containsYoutube(noteChild.text) && !containsTwitter(noteChild.text)">
          {{noteChild.text}}
        </p>
        <ul class="list-unstyled components list-group-flush" *ngIf="noteChild && noteChild.children && noteChild.children.length > 0">
          <li class="list-group-item" *ngFor="let secondNoteChild of noteChild.children">
            <footer >{{secondNoteChild.title}} - - {{secondNoteChild.text}}
              <!-- <button class="delete" title="delete note"
    (click)="deleteNote(secondNoteChild, noteChild)">x</button> -->
            <button type="button" class="close" aria-label="Close" (click)="deleteNote(secondNoteChild, noteChild)">
              <span aria-hidden="true">&times;</span>
            </button>
            </footer>

          </li>
        </ul>
        <div *ngIf="selectedNote == noteChild">
          <form class="form-inline">
            <label class="sr-only" for="inlineFormInputName2">Name</label>
            <input #noteTitle type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Note Title">
            <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
            <div class="input-group mb-2 mr-sm-2">
              <input #noteText type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Note Text">
            </div>
            <button (click)="save(noteTitle.value, noteText.value); noteText.value=''; noteTitle.value=''"
            type="submit" class="btn btn-primary mb-2">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </a>

  <div class="card" id="fixedTopForm">
      <div class="card-body">
      <form class="form-inline">
        <label class="sr-only" for="inlineFormInputName2">Name</label>
        <input #noteTitle type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Note Title">
        <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
        <div class="input-group mb-2 mr-sm-2">
          <input #noteText type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Note Text">
        </div>
        <button (click)="saveNewTopNote(noteTitle.value, noteText.value); noteText.value=''; noteTitle.value=''"
        type="submit" class="btn btn-primary mb-2">Submit</button>
      </form>
    </div>
  </div>
</div>
